@media(min-width: 1200px) {
    /*GITES*/
}

@media(min-width: 992px) and (max-width: 1199px) {
    .omnie-image {
        height: 500px;
    }

    .content-omnie p {
        height: 500px;
        font-size: 16px;
    }

    #footer-menu a {
        font-size: 14px;;
    }

    .btn.btn-back-to-top {
        font-size: 20px;
        padding: 3px 12px;
    }
}

@media(min-width: 768px) and (max-width: 991px) {

    .omnie-image {
        width: 100%;
        height: 300px;
        margin-bottom: 30px;
    }

    .content-omnie p {
        height: 330px ;
        width: 100%;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 767px) {
    .omnie-image {
        width: 100%;
        height: 250px;
        margin-bottom: 30px;
    }

    .content-omnie p {
        height: 380px ;
        width: 100%;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }

    .btn.btn-back-to-top {
        bottom: 6px;
    }

}

@media (max-width: 576px){

    #footer-menu a {
        display: none;
    }

    #footer-bottom {
        padding-bottom: 0;
    }
}

@media (max-width: 480px) {
    #home-heading h3 {
        font-size: 60px;
    }

    #home-heading h4 {
        font-size: 30px;
    }

    .omnie-image {
        background-position: right;
    }

    .content-omnie p {
        height: 450px ;
        width: 100%;
    }

    #footer-menu a {
        display: none;
    }

}

@media (max-width: 410px) {
    #home-heading h3 {
        font-size: 60px;
    }

    #home-heading h4 {
        font-size: 30px;
    }

    .content-omnie p {
        height: 350px ;
        width: 100%;
        font-size: 14px;
    }

    #contact h3 {
        font-size: 25px;
    }

    .contact-info p {
        font-size: 16px;
    }

    #footer-copyrights p {
        font-size: 12px;
    }
}

@media (max-width: 350px) {
    #home-heading h3 {
        font-size: 50px;
    }

    #home-heading h4 {
        font-size: 20px;
    }

    .content-omnie p {
        height: 410px ;
        width: 100%;
        font-size: 14px;
    }

    #contact h3 {
        font-size: 20px;
    }

    #footer-copyrights p {
        display: none;
    }

    .btn.btn-back-to-top {
        font-size: 15px;
        padding: 3px 12px;
    }
}